@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Anta", sans-serif;
}
.nav {
  /* background-color: red; */
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px 40px;
}
.nav h3 {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 10px;
  transition: 0.7s;
}
.nav h3:hover{
  background-color: white;
  color: black;
  transition: 0.3s;
}
.nav img {
  height: 40px;
  font-size: 18px;
  border-radius: 50px;
}
.main {
  height: 100%;
  width: 100%;
}
.intro {
  height: 45%;
  padding: 55px 50px;
  width: 100%;
}
.intro h1 {
  letter-spacing: -3px;
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  text-transform: uppercase;
}
.place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.place h3,
h4 {
  font-size: 18px;
  font-weight: 600;
}
.image img {
  height: 70%;
  width: 100%;
}
.about {
  height: 80%;
  width: 100%;
  font-weight: 500;
  padding: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about h2 {
  width: 60%;
  font-size: 50px;
  line-height: 50px;
}
.about-two {
  width: 36%;
  height: 100%;
  border-left: 2px solid #000;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-two h3 {
  font-size: 25px;
  font-weight: 600;
}
.icons {
  margin-top: 105px;
}
.icons i {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.fa-brands.fa-instagram:hover {
  color: #962fbf;
  background-color: white;
}
.fa-brands.fa-linkedin-in:hover {
  color: #0a66c2;
  background-color: #fff;
}
.fa-brands.fa-x-twitter:hover {
  color: black;
  background-color: white;
}
.fa-brands.fa-youtube:hover {
  color: #c4302b;
  background-color: white;
}
.work {
  height: 55%;
  width: 100%;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px;
}
.work-one {
  width: 30%;
  height: 100%;
  padding-right: 260px;
  border-right: 2px solid #000;
  display: flex;
  justify-content: space-between;
}
.work-one h3 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.work-one i {
  line-height: 200px;
  font-size: 18px;
}
.fa-solid.fa-arrow-down:hover {
  /* background-color: #d81e1e; */
}
#work2 {
  height: 100%;
  width: 70%;
  padding: 0 60px;
  /* line-height: ; */
}
.work2-part {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.work2-part:nth-child(1) {
  border-bottom: 2px solid #000;
}
.elem {
  padding: 0 12px;
}
.elem h4 {
  padding-bottom: 25px;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.para {
  padding-left: 20px;
  border-left: 2px solid #000;
}
footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}
footer h4 {
  color: #fff;
  padding: 0 60px;
}
#last-icon {
  display: flex;
  align-items: center;
  margin: 0 60px;
}
#last-icon i {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  color: #fff;
  background-color: #000;
  border-radius: 50px;
}
